*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  line-height: 1.5;
}

h1,
h2,
h3,
p {
  text-wrap: balance;
  overflow-wrap: break-word;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root,
#__next {
  isolation: isolate;
}
